body{
    display: flex;
    margin-left: 200px;
    margin-top: -150px;
    align-items: center;
    min-height: 145vh;
    background: url(../images/checkout2.webp) no-repeat;
    background-size: cover;
    background-position: center;
}

input{
    font-size: 24px;
}

.OrderID{
    margin-left: 200px;
    margin-top: -150px;
    align-items: center;
    min-height: 20vh;
    color: #fff;
    font-size: 24px;





}

.Amount{
    margin-left: 200px;
    margin-top: -150px;
    align-items: center;
    min-height: 20vh;
    color: #fff;
    font-size: 24px;


}