h1 {
    font-family: Arial, sans-serif;
    color: black;
    position: absolute;
    top: 0;
    left: 2.5%;
}


body {
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100vh; /* adjusting the specific height for the body element */

    background-color: lightgrey;
    background-image: url("../images/cupsign.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    display: flex;

    width: 500px;
    background-color: lightgrey;
    margin:50px auto;
    padding: 20px;
    position: absolute;
    left: 50px;
    top: 50px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.1); /* Fremhæver boksen, ved at tilføje en skygge */
    border-radius: 10px;
    opacity: 0.90; /* Adjust the opacity value as needed */
}

.container h2 {
    color: crimson;
    font-size: 1rem;
}

.image-container {
    display: flex;
    max-width: 200px;
    margin: auto;
    text-align: center;
    position: absolute;
    right: 30px;

}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 160%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    box-sizing: border-box;

}

.btn {
    font-size: 20px;
}

.btn:hover {
    background-color: green;
    color: white;
}