<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cupcake basket</title>
    <link href="../public/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <link href="../public/css/basketStyle.css" th:href="@{/css/basketStyle.css}" rel="stylesheet"/>

</head>
<body>

<div id="header">

    <div id="banner">

    </div>

    <div id="topmenu">

    </div>

</div>






<div id="basket-box">

    <div id="basket-title">
        <h2 id="title">Here are your cupcake orders</h2>
    </div>
    <div id="basket-list">
        <div id="select-box">
            <form method="post">
                <table>
                    <thead>
                    <tr>
                        <th> Select</th>
                        <th> Quantity</th>
                        <th> Topping</th>
                        <th> Bottom</th>
                        <th> Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${session.cart.cartlines.empty}">
                        <td colspan="5" align="center"> You have not ordered any cupcakes</td>
                    </tr>
                    <tr th:each="cartline, iStat : ${session.cart.cartlines} ">
                        <td><input type="checkbox" name="cartline_id" th:value="${iStat.count}"></td>
                        <td><span th:text="${cartline.quantity}"> </span></td>
                        <td><span th:text="${cartline.topping.name}"> </span></td>
                        <td><span th:text="${cartline.bottom.name}">  </span></td>
                        <td><span th:text="${cartline.getPrice()}">  </span></td>
                    </tr>
                    </tbody>
                </table>
                <button type="submit" name="cartline_id" formaction="/deleteCartline">Delete</button>
            </form>
        </div>
    </div>


    <div id="total-box">
        <h2 id="total" th:text="'Your total is going to be ' + ${session.cart.getTotalPrice()} + ' kr'">Your total is going to be ??? kr</h2>
    </div>
    <div id="checkout-box">
        <form method="post">
            <button type="submit" name="checkout" formaction="/checkout">Checkout</button>
        </form>
    </div>

</div>


<div id="footer">

</div>

</body>
</html>