<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cupcake basket</title>
    <link href="../public/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <link href="../public/css/basketStyle.css" th:href="@{/css/basketStyle.css}" rel="stylesheet"/>

</head>
<body>

<div id="header">

    <div id="banner">

    </div>

    <div id="topmenu">

    </div>

</div>






<div id="basket-box">

    <div id="basket-title">
        <h2 id="title">Here are your cupcake orders</h2>
    </div>
    <div id="basket-list">
                <table>
                    <thead>
                    <tr>
                        <th> Select </th>
                        <th> Quantity </th>
                        <th> Topping </th>
                        <th> Bottom </th>
                        <th> Price </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${orderlines.empty}">
                        <td colspan="5" align="center"> You have not ordered any cupcakes</td>
                    </tr>
                    <tr th:each="orderline : ${orderlines}">
                        <td><input type="checkbox" name="select" th:value="${orderline.id}"></td>
                        <td><span th:text="${orderline.quantity}"> 12 x </span></td>
                        <td><span th:text="${orderline.topping_id}"> Chocolate </span></td>
                        <td><span th:text="${orderline.bottom_id}"> Strawberry </span></td>
                        <td><span th:text="${orderline.price}"> 240 kr </span></td>
                    </tr>
                    </tbody>
                </table>

    </div>
    <div id="select-box">
        <form method="post">
            <button type="submit" name="orderline_id"  formaction="/deleteOrderline">Delete</button>
        </form>
    </div>
    <div id="total-box">
        <h2 id="total" th:text="${priceAmount}">Your total is going to be ??? kr</h2>
    </div>
    <div id="checkout-box">
        <form method="post">
            <button type="submit" name="checkout" formaction="/checkout">Checkout</button>
        </form>
    </div>

</div>





<div id="footer">

</div>

</body>
</html>